@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap");
:root {
  --light-beige: #f5f0e6;
  --sand: #e6d3b3;
  --caramel: #b88b4a;
  --dark-brown: #5c3b1e;
  --milky-white: #fffdf7;
}

body {
  font-family: "Funnel Display", sans-serif;
  background-color: #e6d3b3;
  color: #5c3b1e;
  padding-top: 2em;
}
section {
  scroll-margin-top: 4em;
}
h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #5c3b1e;
}
ul,
ol {
  list-style-type: none;
}
.is-hidden {
  display: none;
}
.nav-link.active {
  color: inherit !important;
  text-decoration: underline;
  font-weight: normal;
}
.nav-item:hover {
  text-decoration: underline;
}
.dropdown-item:hover {
  background-color: #e6d3b3;
}
.dropdown-item.active {
  background-color: #b88b4a;
  color: #fff;
  font-weight: 600;
}

.bg_color {
  background-color: #b88b4a;
}
.hidden-heading {
  display: none;
}
#hero {
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  background-position: 50% 70%;
  height: 600px;
  width: 100%;
  padding: 5% 7%;
}
#cover-text {
  background-color: rgba(154, 119, 55, 0.6);
  line-height: 1.5;
  color: #fffdf7;
}
.btn {
  background-color: #5c3b1e;
  border: #252525;
  color: #f5f0e6;
}
.btn:hover,
.btn:focus {
  background-color: #b88b4a;
}
.footer-links {
  gap: 10px;
}
